/*
    Based on How to create an awesome navigation bar with HTML & CSS by Kevin Powell.
    https://www.youtube.com/watch?v=FEmysQARWFU
*/

header {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: space-between; /* logo left, navbar right */
  padding: 0.5em 1em;
  background: linear-gradient(90deg, #1a1d28 0%, #272838 100%);
}

.logo {
  font-family: "Montserrat", cursive;
  font-size: 3em;
  color: var(--primary-light-color);
  margin: 0;
  /* Remove float */
}

nav {
  /* Remove float */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 3em;
  line-height: 3em;
  padding-top: 2.25em;

  position: relative; /* Required so that position: absolute in nav a::before works. */
}

nav a {
  color: var(--primary-light-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 200ms;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
}

nav a:hover {
  color: #272838;
  background-color: #d8e2dc;
  border-radius: 4px;
  padding: 0.2em 0.6em;
  transition: background 0.2s;
}

nav a:hover::before {
  width: 100%; /* As we want to see it on mouse hover. */
}
