<!-- Footer component: displays copyright and data source credits -->
<footer
  class="w-full p-4 bg-white border-t border-gray-200 shadow md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
  <!-- Container for footer content, centered and responsive -->
  <div
    class="container mx-auto text-center text-sm text-gray-500 dark:text-gray-400"
  >
    <!-- Copyright notice -->
    <span>Copyright &copy; 2025 CIFO L'Hospitalet. Data provided by </span>
    <!-- Links to source API data -->
    <a
      href="https://www.coingecko.com/"
      alt="CoinGecko"
      target="_blank"
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >CoinGecko</a
    >
    &
    <a
      href="https://newsapi.org"
      alt="NewsAPI"
      target="_blank"
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >NewsAPI</a
    >.
  </div>
</footer>
